.tool-bar:horizontal {
    -fx-background-color: darkblue;
}
.table-row-cell:odd {
    -fx-background-color: rgba(242, 28, 28, 0.42);
}

/*
.button {
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-background-radius: 5px 5px 5px 5px;
}
*/